.section {
    padding: var(--spacing-xl) 0;
    border-top: 1px solid var(--color-grey);
}

.title {
    grid-column: 1 / 4;
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-md);
    position: sticky;
    top: 100px;
    /* Adjust based on header height */
    align-self: start;
}

.content {
    grid-column: 5 / -1;
    font-size: var(--font-size-lg);
    line-height: 1.6;
}